body {
    font-family: 'Bai Jamjuree', sans-serif;
    color: #161513;
    background-color: #F5F5F5;
    max-width: 1440px;
}
a {
    text-decoration: none;
}
/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1280px;
    padding-top: 28px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.list-nav {
    display: flex;
    gap: 32px;
}
.header_talk {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #161513;
    width: 124px;
    height: 40px;
}

/* section1 hi */

.section {
    display: flex;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    padding-top: 65px;
    gap: 65px;
}
.welcome {
    display: flex;
    flex-direction: column;
    max-width: 675px;
}
.welcome-hi {
    top: 50px;
    font-size: 56px;
    padding-bottom: 35px;
    line-height: 67px;
    letter-spacing: 0.56px;

}
.welcome-list {
    display: flex;
    font-size: 23px;
    gap: 19px;
    padding-bottom: 44px;
}
.fotter-hi {
    display: flex;
    font-size: 16px;
    justify-content: flex-start;
}
.fotter-hi1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #161513;
    border: 1px solid #161513;
    color: #ffffff;
    height: 50px;
    width: 179px;
}
.fotter-hi2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #161513;
    height: 50px;
    width: 142px;
}

/* section2 naklon */

.section2 {
    display: flex;
    width: 100vw;
    font-size: 18px;
    justify-content: flex-start;
    align-items: center;
    background-color: #161513;
    color: #ffffff;
    margin-top: 107px;
    padding: 23px 20px 10px 14px;
    transform: rotate(-4.93deg);
    margin-left: -7px;
    overflow-x: hidden;
}
.section2_item1 {
    display: flex;
    align-items: center;
    width: 137.5px;
    height: 32px;
    gap: 17px;
} 
.section2_item2 {
    display: flex;
    align-items: center;
    width: 95.74px;
    height: 32px;
    margin-left: 97.78px;
    gap: 19px;
}
.section2_item3 {
    display: flex;
    align-items: center;
    width: 212.98px;
    height: 32px;
    margin-left: 98.54px;
    gap: 22px;
    flex-shrink: 0;
    flex-wrap: nowrap;
}
.section2_item4 {
    display: flex;
    align-items: center;
    width: 194.89px;
    height: 32px;
    margin-left: 47.54px;
    gap: 23px;
    flex-shrink: 0;
    flex-wrap: nowrap;
}
.section2_item5 {
    display: flex;
    align-items: center;
    width: 182.58px;
    height: 32px;
    margin-left: 60.51px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    gap: 27px;
}
.section2_item6 {
    display: flex;
    align-items: center;
    width: 68.26px;
    height: 32px;
    margin-left: 57.59px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    gap: 24px;
}
.section2_item7 {
    display: flex;
    align-items: center;
    width: 96.76px;
    height: 32px;
    margin-left: 99.52px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    gap: 20px;
}

