/* как работает width:max-content ??? */
/* как сделать так, чтобы при уменьшении ширины экрана текст не спрыгивал на соседние строчки */
/* без min-width контент вылетает из блока */

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #161513;
    background-color: #f5f5f5;
    width: 100vw;
    height: 100vh;
}
a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    max-width: 1440px;
}
/* header */

.header {
    padding: 0 80px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 0;
}

.logo {
    cursor: pointer;
}

.list-nav {
    display: flex;
    gap: 32px;
    padding: 0 20px;
}

.item-nav {
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 1px solid transparent;
}

.item-nav:hover {
    border-color: #161513;
}

.item-nav a {
    color: #161513;
}

.header_talk {
    cursor: pointer;
    border: 1px solid #161513;
    padding: 9px 26px;
}

.header_talk a {
    color: #161513;
    font-size: 16px;
    line-height: 24px;
}

/* section1 hi */

.header__welcome {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 27px;
}

.welcome {
    display: flex;
    flex-direction: column;
    max-width: 675px;
    gap: 35px;
}

.welcome__title {
    font-size: 56px;
    line-height: 67px;
    letter-spacing: 0.56px;
    min-width: 700px;
}

.welcome__skills {
    display: flex;
    font-size: 23px;
    gap: 19px;
}

.welcome__actions {
    display: flex;
    font-size: 16px;
    justify-content: flex-start;
}



.welcome__action {
    width: max-content;
    padding: 13px 33px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #161513;
}

.welcome__action--primary {
    background-color: #161513;
}

.welcome__action a {
    color: #161513;
}

.welcome__action--primary a {
    color: #ffffff;
}


.features {
    overflow: hidden;
    display: flex;
    padding: 80px 0;
    align-items: center;
    margin-bottom: 109px;
}

.features__list {
    left: -100px;
    margin-right: -200px;
    position: relative;
    width: 100vw;
    color: #ffffff;
    padding: 23px;
    padding-left: 123px;
    background-color: #161513;
    transform: rotate(-4.93deg);
    display: flex;
    gap: 109px;
}

.feature__item {
    position: relative;
    font-size: 18px;
    line-height: 32px;
}

.feature__item::after {
    background-image: url(../Image/Star2.svg);
    display: flex;
    align-items: center;
    justify-content: center;
    content: ' ';
    position: absolute;
    width: 22px;
    height: 22px;
    right: -37px;
    top: 5px;
}

/* sections */

.sections {
    display: flex;
    flex-direction: column;
    padding: 0 190px;
    gap: 100px;
}

/* section3 */

.section3 {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.section3_star::before {
    content: 'TAYLER';
    font-size: 23px;
    margin-right: 14px;
}
.section3_star::after {
    content: 'BARTHHOLD';
    font-size: 23px;
    margin-left: 10px;
}
.section3_star {
    margin-bottom: 26px;
}
.section3_h2 {
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 0.56px;
}


.section3_item1 {
    font-size: 31px;
    line-height: 38px;
    letter-spacing: 0.64px;
    margin-bottom: 38px;
    margin-bottom: 36px;
}
.section3_item2 {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 27px;
}
.section3_lists {
    display: flex;
    gap: 142px;
}
.section3_list1 {
    font-size: 12px;
    color: #e94d35;
    margin-bottom: 9px;
}
.section3_list2 {
    font-size: 23px;
}

/* section4 */

.section4 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #332f29;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 11px;
    padding: 23px;
    width: calc(100% / 3);
}

.card__title {
    font-size: 56px;
    line-height: 64px;
}

.card__subtitle {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
}

.card--primary {
    background-color: #332f29;
    color: #ffffff;
}



/* section header  */
.section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 68px;
}
.section_header1 {
    margin-bottom: 22px;
}
.section_header2 {
    font-size: 45px;
    letter-spacing: 1.44px;
    margin-bottom: 10px;
}
.section_header3 {
    font-size: 18px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
}
/* section header */

/* section5 */


.awards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.awards_cards {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    gap: 24px;
    width: 100%;
}
.awards_card {
    display: flex;
    justify-content: space-between;
    border: 2px solid #161513;
    padding: 38px 34px;
}
.card__leftside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.card__number {
    display: flex;
    font-size: 18px;
    color: #ffffff;
    background-color: #e94d35;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
}
.leftside__titles {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.left__title {
    letter-spacing: 0.48px;
    font-size: 23px;
}
.left__subtitle {
    font-size: 18px;
}
.card__rightside {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    gap: 22px;
}

/* section6 */


.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio__lines {
    display: flex;
    flex-direction: column;
    gap: 95px;
}
.portfolio__line1 {
    display: flex;
    gap: 44px;
}
.line__titles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.line__title1 {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #e94d35;
    padding: 3px 12px 5px;
    margin-bottom: 25px;
}
.line__title2 {
    font-size: 45px;
    line-height: 56px;
    letter-spacing: 1.44px;
    margin-bottom: 49px;
}
.line__title3 {
    font-size: 20px;
    line-height: 32px;
}


/* section7 */

.services {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.services__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    border: 2px solid #161513;
    width: calc(50% - 107px);
    padding: 34px 49px 30px 34px;
    gap: 28px;
}
.card__title1 {
    font-size: 31px;
    letter-spacing: 0.64px;
    line-height: 41px;
}
.card__subtitle1 {
    font-size: 18px;
    line-height: 32px;
}

/* section8 */

.customer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.customer__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
.customer__card {
    display: flex;
    border: 1px solid #131416;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 43px 0;
    width: calc(25% - 32px);
}

/* section9 */

.articles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.articles__cards {
    display: flex;
    flex-direction: column;
    background: #f2f1ef;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.articles__card {
    display: flex;
    padding: 0px 53px 13px 34px;
    background: #F2F1EF;
    border: 2px solid #000000;
    gap: 60px;
}
.card__lefthalf {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
}
.lefthalf__title {
    display: flex;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    color: #e94d35;
    gap: 14px;
}
.lefthalf__subtitle {
    font-size: 23px;
    line-height: 32px;
    letter-spacing: 0.48px;
}
.card__righthalf {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    width: calc(50% - 20px);
}

.articles__blackcard {
    display: flex;
    background: #161513;
    border: 2px solid #161513;
    align-items: center;
    padding: 12px 456px 14px;
    font-size: 20px;
    line-height: 32px;
}
.articles__blackcard a {
    color: #ffffff;
}

.halfsun {
    position: absolute;
    right: -190px;
    top: 307px;
}
